<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
{#<textarea id="chat-log" cols="100" rows="20">#}
{#    {% for message in messages %}#}
{#        {{ message.sender.first_name }}: {{ message.content }}#}
{#    {% endfor %}#}
{#</textarea><br>#}
<div id="chat-log">
    <ul id="chat-line">
        {% for message in messages %}
            <li>{{ message.sender.first_name }}: {{ message.content }}</li>
        {% endfor %}
    </ul>
</div>

<input id="chat-message-input" type="text" size="100"><br>
{#<input id="chat-message-submit" type="button" value="Send">#}
<a href="" id ="chat-message-submit">Send</a>
{{ room_id|json_script:"room-name" }}
{{ account_user_id|json_script:"account-user-id" }}
{{ user_id|json_script:"user-name-id" }}

<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    const accountUserID = JSON.parse(document.getElementById('account-user-id').textContent);
    const userID = JSON.parse(document.getElementById('user-name-id').textContent);


    console.log(roomName)
    console.log(accountUserID)
    console.log(userID)
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/users/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data)
        const message = data['message'];
        const msgListTag = document.createElement('li');
        const pTag = document.createElement('p');
        console.log(message)
        console.log()
        pTag.textContent = message

        msgListTag.appendChild(pTag)
        {#document.querySelector('#chat-line').appendChild(msgListTag);#}

    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'account_user_id': accountUserID,
            'user_id': userID
        }));
        messageInputDom.value = '';
    };
</script>
</body>
</html>