<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            form{
                padding: 2% 20%;
            }
            .alert{
                width: 30%;
                padding: 5px 8px;
                margin: 2% 0 0 17.7%
            }
            .messages li{
                list-style-type: none;
                font-size: 0.8em;
            }
        </style>
    </head>
    <body>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-danger">
                        <li {% if message.tags %} class="{{message.tags}}" {% endif %}> {{message}} </li>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="/sign_in" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email address</label>
                <input name="email" class="form-control" type="text" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input name="password" class="form-control" type="password" placeholder="Password">
            </div>
           
            <button type="submit">Sign In</button>
            <a href="/register">Don't have an account? Register.</a>
        </form>
        
        
        
    </body>
</html>