<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            
            .message{
                width: 50%;
                margin: 0 auto;
            }
            .comment{
                width: 40%;
                margin: 1% 35%;
            }
            h6{
                margin: 0 35%;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" >Test App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/check_admin">Dashboard <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/users/edit">Profile <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a class="nav-link" href="/logout"> Log out <span class="sr-only">(current)</span></a>
                </form>
            </div>
        </nav>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-danger">
                    <li {% if message.tags %} class="{{message.tags}}" {% endif %}> {{message}} </li>
                </div>
            {% endfor %}
        </ul>
        {% endif %}

        <h4>{{user.first_name}} {{user.last_name}}</h4>
        <p>User ID: #{{user.id}}</p>
        <p>Email address: {{user.email}}</p>
        <p>Description: {{user.description}}</p>
        <form action="/add_message/{{user.id}}/{{account.id}}" class="message" method="POST">
            {% csrf_token %}
            <div class="form-group ">
                <h4><label for="content">Leave a message for {{user.first_name}}</label></h4>
                <textarea class="form-control" name="content" rows="3"></textarea>
            </div>
            <button type="submit">Post</button>
        </form>
        {% for message in all_messages %}
            <div class="message">
                <p> {{message.get_date}} <a href="/users/show/{{message.poster.id}}">{{message.poster.first_name}} {{message.poster.last_name}}</a></p>
                <textarea class="form-control" rows="3">{{message.content}}</textarea>
            </div>x
            <h6>Comments</h6>
            {% for comment in all_comments %}
                {% if comment.comment_message.id == message.id %}
                    <textarea class="form-control" name="comment" rows= "2">{{comment.content}}</textarea>
                {% endif %} 
                <textarea class="form-control" name="comment" rows= "2">{{comment.content}}</textarea>
            {% endfor %}
            <div class="comment">
                <form action="/comment/{{user.id}}/{{message.id}}" method="POST">
                    {% csrf_token %}
                    <textarea class="form-control" name="comment" placeholder="Write a comment" rows= "2"></textarea>
                    <button type="submit">Post</button>
                </form>
            </div>
        {% endfor %}        
    </body>
</html>